footer {
    background: linear-gradient(#0F0F0F,#000);
    padding: 2rem 0;
}
footer small{
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
h2{
    text-transform: uppercase;
}
header {
    background: linear-gradient(var(--black),var(--black2));
    overflow: hidden;
    padding: 5rem 0 3rem;
    position: relative;
}
header > .bg-header {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    opacity: .2;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
section{
    background-image: url(img/bg-modal.png);
}
section hr {
    margin-bottom: 5rem;
}
hr.dark {
    background-image: linear-gradient(to right,transparent,#000,transparent);
    border: 0;
    height: .1rem;
    max-width: 100%;
}
hr.light {
    background-image: linear-gradient(to right,transparent,#FFF,transparent);
    border: 0;
    height: .1rem;
    max-width: 100%;
}
nav .container-fluid div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin: 0px 10px
}
.lang-btn{
    border-radius: 5px;
    height: 16px;
    margin: 2px 2px;
    padding: 0px 0px 3px;
    
}
.modal-slider-container {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-slider{
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.modal-slider:hover{
    background: #00000010;
}
.modal-slider-left{                
    left: 0px;
}
.modal-slider-right{
    right: 0px;
}
.portfolio-image {
    max-width: 400px;
    width: 100%;
    padding: 10px;
}
.section{
    padding: 5rem 0;
}
.circle{
    border-radius: 100%;
}
.text-justify{
    text-align: justify;
}
.text-white{
    color: white !important;
}

#portfolio button:before, #experience button:before {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .3s ease;
    width: 100%;
    z-index: 1;
}

#portfolio button, #experience button {
    border: none;
    box-shadow: 0 0 10px lightgray;
    cursor: pointer;
    display: block;
    margin: 1rem;
    width: 100%;
    min-height: 200px;
    flex: 30%;
    overflow: hidden;
    padding: 0;
    position: relative;
    background: white;
}

#portfolio button:after, #experience button:after {
    content: url(img/zoom.svg);
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translate(-40%,-55%);
    transition: top .3s ease,opacity .3s ease;
    width: 50%;
    z-index: 2;
}

#portfolio button.experience:after, #experience button.experience:after {
    content: url(img/briefcase.svg);
    left: 46.5%;
    width: 35%;
    transform: translate(-40%,-50%);
}

#portfolio button:hover:before, #experience button:hover:before {
    opacity: .75;
}

#portfolio button:hover:after, #experience button:hover:after {
    opacity: .75;
    top: 50%;
}

#portfolio button:hover h4, #experience button:hover h4 {
    bottom: 20%;
    opacity: 1;
}

#portfolio button:hover img, #experience button:hover img {
    transform: scale(1.25);
}

#portfolio .container-portfolio, #experience .container-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
}

#portfolio h4, #experience h4 {
    bottom: 0;
    color: white;
    display: block;
    left: 50%;
    margin: 0;
    opacity: 0;
    position: absolute;
    transform: translate(-50%,50%);
    transition: bottom .3s ease,opacity .3s ease;
    z-index: 2;
}

#portfolio img, #experience img {
    display: block;
    max-height: 300px;
    transition: transform .3s ease;
    width: 100%;
}

#resumeModalTags {
    padding: 15px 0 0px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 5px;
}

#resumeModalTags span {
    padding: 5px 10px;
    background: gray;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
}

#skillset>div {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
}

#skillset>div>div {
    position: relative;
    flex: 18%;
}

#skillset>div>div:hover span {
    opacity: 1;
    transform: translate(-60px);
}

#skillset img {
    border-radius: 1rem;
    cursor: context-menu;
    max-width: 7rem;
}

#skillset span {
    background-color: rgba(0,0,0,.75);
    border-radius: .5rem;
    left: 50%;
    opacity: 0;
    padding: .5rem 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: -40px;
    transform: translate(-60px,10px);
    transition: opacity .3s ease,transform .3s ease;
    width: 120px;
    z-index: 1;
}

#skillset span:after {
    border: 5px solid transparent;
    border-top-color: rgba(0,0,0,.75);
    content: "";
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
}

#social-media a {
    text-decoration: none;
}

#social-media img {
    background-color: #fff;
    border-radius: 10rem;
    margin: 1rem;
    transition: all .3s ease;
    filter: grayscale(1);
}

#social-media img:hover {
    background-color: #000;
}

@media(max-width: 1023px) {
    #experience button {
        flex: 25%;
    }
}

@media(max-width: 767px) {
    #skillset>div>div {
        flex: 30%;
    }
    #portfolio button, #experience button {
        flex: 45%;
    }
}

@media(max-width: 424px) {
    #skillset>div>div {
        flex: 45%;
    }
    #portfolio button, #experience button {
        flex: 100%;
        height: calc(100vw - 184px);
    }
}

@media(max-width: 360px) {
    .navbar-brand{
        width: calc(100vw - 140px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.nav-item:target{
    background: red;
}